

<% myArray.forEach(function(obj) { %>

<div id="newsPanel">
    <h2 id="newsTitle"><%= obj.noticeTitle %></h2>
    <p id="newsContent"><%= obj.noticeContent %></p>
    <p id="newsAuthor"><i>- <%= obj.noticeAuthor %></i></p>
    <hr/>
</div>

<% }); %>
