<html>
<head>
    <title>New Post</title>

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link href="stylesheets/style.css" rel="stylesheet" type="text/css">
    <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <!-- Signin CSS -->

</head>
<body>
<div class="container">
    <form class='form-signin' action='' method='POST' enctype="multipart/form-data">
        <h2 class='form-signin-heading'>Content management system</h2>
        <label class='sr-only'>Notice Title</label>
        <input type='text' name='noticeTitle' class='form-control' placeholder='Title' required autofocus>
        <label class='sr-only'>Notice Content</label>
        <input type="text" name='noticeContent' class='form-control' placeholder='Content' required>
        <label class='sr-only'>Notice Author</label>
        <input type='text' name='noticeAuthor' class='form-control' placeholder='Author' required>
        <button class='btn btn-lg btn-primary btn-block' type='submit'>Upload Notice</button>

    </form>
</div>
</body>
</html>